body,
html {
  height: 100%;
}

body {
  background-color: $git-color;
}

.parallaxHeader {
  background-image: url("/img/hero-bg.jpg");
  min-height: 768px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxDL {
  background-image: url("/img/flbg.jpg");
  height: auto;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.responsiveImg {
  max-width: 100%;
  height: auto;
}
.title {
  text-shadow: 2px 2px $black;
}

.subtitle {
  text-shadow: 1px 1px $black;
  font-weight: 200;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.cardIconSize {
  font-size: 50px;
  font-weight: 500;
}

@media (max-width: 575px) {
  .parallaxHeader {
    background-image: url("/img/hero-bg.jpg");
    min-height: initial;
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxDL {
    background-image: url("/img/flbg.jpg");
    height: initial;
    background-attachment: initial;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }

}